
<ul>
  <li>
    <md-card-footer>
      <md-card-title>Terms and Conditions</md-card-title>
      <md-card-content>
        <p>
          Card content
        </p>
      </md-card-content>
    </md-card-footer>
  </li>
  <li>
    <md-card-footer>
      <md-card-title>Privacy Policy</md-card-title>
      <md-card-content>
        <p>
          Privacy Policy
        </p>
      </md-card-content>
    </md-card-footer>
  </li>
  <li>
    <md-card-footer>
      <md-card-title>About Me</md-card-title>
      <md-card-content>
        <p>
          My Background
        </p>
      </md-card-content>
    </md-card-footer>
  </li>
</ul>


<md-card-footer>
  <p>
    <b>Disclaimer:</b> This website is a fun project, and has no real .
  </p>
</md-card-footer>
