<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-4">
      <md-card>
        <md-card-title> Change Existing Password </md-card-title>
        <md-card-content>
          <form #userForm="ngForm"  layout="column">
            <md-input-container>
              <input mdInput
                     #emailElement
                     #emailControl="ngModel"
                     type="text"
                     placeholder="Email"
                     [(ngModel)]="email"
                     name="email"
                     maxlength="30"
                     pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="emailControl.pristine" class="tc-red-600">
                  <span [hidden]="!emailControl.hasError('required')">Required</span>
                  <span [hidden]="!emailControl.hasError('pattern')">incorrect pattern</span>
                </span>
            </md-hint>


            <md-input-container>
              <input mdInput
                     #oldPassElement
                     #oldPassControl="ngModel"
                     placeholder="Old Password"
                     type="password"
                     name="old_password"
                     minlength="5"
                     [(ngModel)]="old_password"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="oldPassControl.pristine" class="tc-red-600">
                  <span [hidden]="!oldPassControl.hasError('required')">Password Required</span>
                  <span [hidden]="!oldPassControl.hasError('minlength')">Length too small, min 5. Your's is {{oldPassElement.value.length}}.</span>
                </span>
            </md-hint>



            <md-input-container>
              <input mdInput
                     #newPassElement
                     #newPassControl="ngModel"
                     placeholder="New Password"
                     type="password"
                     name="new_password"
                     minlength="5"
                     [(ngModel)]="new_password"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="newPassControl.pristine" class="tc-red-600">
                  <span [hidden]="!newPassControl.hasError('required')">Password Required</span>
                  <span [hidden]="!newPassControl.hasError('minlength')">Length too small, min 5. Your's is {{newPassElement.value.length}}.</span>
                </span>
            </md-hint>

            <button [disabled]="!userForm.form.valid" color="primary"
                    md-raised-button (click)="ChangeOldPassword(emailElement.value, oldPassElement.value, newPassElement.value)">Reset Password</button>
          </form>


        </md-card-content>
      </md-card>


    </div>
    <div class="col-1"></div>
  </div>
</div>
