<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-4">
      <md-card>
        <ng-template tdLoading="user.form">
          <md-card-title>Login</md-card-title>
          <md-card-content>
            <form #userForm="ngForm" layout="column">
              <md-input-container>
                <input mdInput
                       #emailElement
                       #emailControl="ngModel"
                       type="text"
                       placeholder="Email"
                       [(ngModel)]="email"
                       name="email"
                       maxlength="30"
                       pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
                       required>
              </md-input-container>
              <md-hint align="start">
                <span [hidden]="emailControl.pristine" class="tc-red-600">
                  <span [hidden]="!emailControl.hasError('required')">Required</span>
                  <span [hidden]="!emailControl.hasError('pattern')">incorrect pattern</span>
                </span>
              </md-hint>
              <!--<md-hint align="end">{{emailElement.value.length}} / 20</md-hint>-->

              <md-input-container>
                <input mdInput
                       #passElement
                       #passControl="ngModel"
                       placeholder="Password"
                       type="password"
                       name="password"
                       minlength="5"
                       [(ngModel)]="password"
                       required>
              </md-input-container>
              <md-hint align="start">
                <span [hidden]="passControl.pristine" class="tc-red-600">
                  <span [hidden]="!passControl.hasError('required')">Password Required</span>
                  <span [hidden]="!passControl.hasError('minlength')">Length too small, min 5. Your's is {{passElement.value.length}}.</span>
                </span>
              </md-hint>

              <md-divider></md-divider>
              <!--<md-card-actions>-->
              <button [disabled]="!userForm.form.valid" color="primary"
                      md-raised-button (click)="ProcessLoginForm(emailElement.value,passElement.value)">Login
              </button>
              <!--</md-card-actions>-->


            </form>


          </md-card-content>
        </ng-template>
      </md-card>


    </div>
    <div class="col-1"></div>
  </div>
</div>
