<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-4">
      <md-card>
        <md-card-title> Reset My 4-Digit Pin </md-card-title>
        <md-card-content>
          <form #userForm="ngForm" layout="column">
            <md-input-container>
              <input mdInput
                     #emailElement
                     #emailControl="ngModel"
                     type="text"
                     placeholder="Email"
                     [(ngModel)]="email"
                     name="email"
                     maxlength="30"
                     pattern="^[a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,15})$"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="emailControl.pristine" class="tc-red-600">
                  <span [hidden]="!emailControl.control.hasError('required')">Required</span>
                  <span [hidden]="!emailControl.control.hasError('pattern')">Not Valid Email</span>
                </span>
            </md-hint>

            <md-input-container>
              <input mdInput
                     #passElement
                     #passControl="ngModel"
                     placeholder="Password"
                     type="new_password"
                     name="new_password"
                     minlength="5"
                     [(ngModel)]="password"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="passControl.pristine" class="tc-red-600">
                  <span [hidden]="!passControl.hasError('required')">Password Required</span>
                  <span [hidden]="!passControl.hasError('minlength')">Length too small, min 5. Your's is {{passElement.value.length}}.</span>
                </span>
            </md-hint>



            <md-input-container>
              <input mdInput
                     #digitElement
                     #digitControl="ngModel"
                     placeholder="New 4 Digit Secret Pin"
                     type="number"
                     name="new_digit_lock"
                     minlength="4"
                     maxlength="4"
                     [(ngModel)]="digit_lock"
                     required>
            </md-input-container>
            <md-hint align="start">
                <span [hidden]="digitControl.pristine" class="tc-red-600">
                  <span [hidden]="!digitControl.hasError('required')">4 Digits Required</span>
                  <span [hidden]="!(digitElement.value.length != 4 )">
                    Length  must be 4. Your's is {{digitElement.value.length}}.
                  </span>
                </span>
            </md-hint>


            <button [disabled]="!userForm.form.valid" color="primary"
                    md-raised-button (click)="ResetPin()">Reset 4 Digit Pin</button>
          </form>

        </md-card-content>
      </md-card>


    </div>
    <div class="col-1"></div>
  </div>
</div>

