<ul class="list-inline">
  <li class="list-group-item"><a [routerLink]="['forgot-my-pin']">Forgot 4 Digit Pin </a></li>
  <li class="list-group-item"><a [routerLink]="['forgot-password']">Forgot Password</a></li>
  <li class="list-group-item"><a [routerLink]="['forgot-password-and-pin']">Forgot Password And Pin</a></li>
  <li class="list-group-item"><a [routerLink]="['signup']">New User Signup</a></li>
  <li class="list-group-item"><a [routerLink]="['login']">Login</a></li>
</ul>
<router-outlet></router-outlet>

