<ul class="row list-inline">
  <li class="list-group-item"><a [routerLink]="['my-dashboard']">Dashboard</a></li>
  <li class="list-group-item"><a [routerLink]="['home']">Home</a></li>
  <li class="list-group-item"><a [routerLink]="['logout']">Logout</a></li>
  <li class="list-group-item"><a [routerLink]="['search']">Search</a></li>
  <li class="list-group-item"><a [routerLink]="['add-items']">Add Items</a></li>
  <li class="list-group-item"><a [routerLink]="['search-item']">Search Items</a></li>
</ul>
<br/>
<ul>
  <li class="list-group-item"><a [routerLink]="['manage-items']">Manage Items</a></li>
  <li class="list-group-item"><a [routerLink]="['add-my-voice']">Add My Voice</a></li>
  <li class="list-group-item"><a [routerLink]="['change-old-password']">Change My Password</a></li>
  <li class="list-group-item"><a [routerLink]="['change-old-pin']">Change My 4Digit Pin</a></li>
</ul>
<br/>
<router-outlet></router-outlet>
